<div class="form-block row">
    <div class="col-md-4"></div>
    <div class="col-md-4 login">
        <div class="form-group">
            <label class="label-control sr-only"></label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <input type="text" class="form-control"  data-bind="value: inputNameValue, valueUpdate: 'afterkeydown'" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label class="label-control sr-only">age:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-star"></i>
                </div>
                <input type="text" class="form-control" data-bind="value: inputAgeValue, valueUpdate: 'afterkeydown'" placeholder="Password">
            </div>
        </div>
        <button type="button" data-bind="" class="btn btn-danger">Reset</button>
        <button type="button" data-bind="" class="btn btn-info">Submit</button>
    </div>
    <div class="col-md-4"></div>
</div>
